<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Above you</name>
    <description>Get astronomical information about the position of planets based on your location</description>
    <author email="cancinoizak@gmail.com" href="https://izakcancino.github.io">
        Izak Cancino
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
